:root {
  --cornflower: #e7e9fc;
  --iris: #4d5ae5;
  --navyblue: #383949;
  --slate: #434455;
  --white: #ffffff;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
}
.body {
  background: var(--white);
  font-family: "Roboto", sans-serif;
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

li,
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*------------------------HEADER----------------------*/

.header {
  background: var(--white, #fff);
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.logo-header {
  color: var(--iris, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-header-highlight {
  color: #2e2f42;
}

.nav-link {
  color: #2e2f42;
  font-style: normal;
  font-weight: 500;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: var(--ocean, #404bbf);
}

.address {
  font-style: normal;
}
.address-link {
  color: #434455;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus,
.address-link:active {
  color: var(--ocean, #404bbf);
}

/*---------------------MAIN--------------------------------*/

.main-section {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 112px;
  padding-bottom: 112px;
}
.main-section-heading-one {
  color: var(--white, #fff);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin: 0 auto;
  margin-bottom: 72px;
  width: 320px;
  padding-left: 30px;
  padding-right: 30px;
}
.main-section-button {
  color: var(--white, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  background: var(--iris, #4d5ae5);
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
  min-width: 169px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-section-button:hover,
.main-section-button:focus {
  background-color: #404bbf;
}

.advantages {
  padding-top: 96px;
  padding-bottom: 96px;
}

.advantages-heading-two,
.filter-heading {
  margin: -1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-heading-three {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.advantages-text {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.projects-heading-two {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team {
  background: var(--cloud, #f4f4fd);
}
.team-heading-two {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-item {
  background: var(--white, #fff);
}
.team-heading-three {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-text {
  color: var(--slate, #434455);
  text-align: center;
}

/*---------------------MAIN PORTFOLIO--------------------------------*/

.filter-button {
  color: var(--iris, #4d5ae5);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  font-weight: 500;
  background: var(--cloud, #f4f4fd);
  cursor: pointer;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--cloud, #f4f4fd);
  border: 1px solid transparent;
  border: 1px solid #e7e9fc;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--white, #fff);
  background: var(--ocean, #404bbf);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-item {
  background: var(--white, #ffffff);
}

.portfolio-heading-three {
  font-family: Roboto;
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  white-space: nowrap;
  max-width: 360px;
}
.portfolio-text {
  color: var(--slate, #434455);
}

/*-----------------------FOOTER------------------------*/
.footer {
  background-color: #2e2f42;
}
.logo-footer {
  color: var(--iris, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-footer-highlight {
  color: var(--cloud, #f4f4fd);
}
.footer-text {
  color: var(--cloud, #f4f4fd);
}

/*-----------------------Block-model header------------------------*/

.nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 40px;
}

.address-list {
  display: flex;
}

.header-container {
  display: flex;
}
.nav-link {
  display: block;
  padding: 24px 0;
}
.logo-header {
  display: block;
  padding: 24px 0;
  margin-right: 76px;
}

.address-link {
  display: block;
  padding: 24px 0;
}
.address-list {
  gap: 40px;
}
.address {
  margin-left: auto;
}

/*-----------------------Block-model-index------------------------*/

.projects-item {
  width: calc((100% - 48px) / 3);
}
.projects-heading-two {
  margin-bottom: 72px;
}
.projects-list {
  display: flex;
  gap: 24px;
}
.projects {
  padding-bottom: 120px;
  display: none;
}
.team {
  padding-top: 96px;
  padding-bottom: 96px;
}
.team-heading-two {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 72px;
  padding-left: 67px;
  padding-right: 67px;
}
.team-heading-three {
  margin-bottom: 8px;
  text-align: center;
}
.team-text {
  text-align: center;
}
.team-card-text {
  padding: 32px 0;
}
.team-item {
  /*width: calc((100% - 72px) / 4);*/
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.footer {
  padding: 100px 0;
}
.logo-footer {
  display: block;
  margin-bottom: 16px;
  display: inline-block;
}
.footer-text {
  display: block;
  width: 264px;
}

/*-----------------------Block-model-portfolio------------------------*/

.filter {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filter-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.portfolio-heading-three {
  margin-bottom: 8px;
}

.portfolio-item {
  background: var(--white, #fff);
  box-sizing: border-box;
  width: calc((100% - 48px) / 3);
}

.portfolio-card-text {
  flex-grow: 1;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/*-----------------------------hw4--------------------------------*/

.advantages-item-top {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 264px;
  height: 112px;
  border-radius: 4px;
  background: var(--cloud, #f4f4fd);
  margin-bottom: 8px;
  display: none;
}
.team-card-icon-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
  padding: 0 16px;
}
.team-card-icon {
  display: block;
  fill: #f4f4fd;
}
.team-card-icon-item {
  width: 40px;
  height: 40px;
}
.team-sm-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-sm-link:hover {
  background-color: #404bbf;
}
.team-sm-link:focus {
  background-color: #404bbf;
}
.team-item .team-sm-link {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client {
  padding-top: 120px;
  padding-bottom: 120px;
}
.client-heading {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.client-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 72px 16px;
}
.client-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}
.client-icon {
  fill: currentColor;
  fill: #8e8f99;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-icon-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-icon-link:hover,
.client-icon-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.client-icon-link:hover .client-icon,
.client-icon-link:focus .client-icon {
  fill: #404bbf;
  color: #404bbf;
  border-color: #404bbf;
}

.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-left-part {
  margin-right: 120px;
}
.footer-sm-list {
  display: flex;
  gap: 16px;
}
.footer-sm-text {
  color: var(--white, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-sm-item {
  width: 40px;
  height: 40px;
}
.footer-sm-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-sm-icon {
  display: block;
  fill: #f4f4fd;
}
.footer-sm-item {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-sm-link:hover,
.footer-sm-link:focus {
  background-color: #31d0aa;
}
.current {
  color: #404bbf;
  position: relative;
}
.current::after {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  flex-shrink: 0;
  border-radius: 2px;
  background: var(--ocean, #404bbf);
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .portfolio-cover-text,
.portfolio-link:focus .portfolio-cover-text {
  transform: translateY(0%);
}
.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}
/*
.portfolio-cover {
  position: absolute;
  top: 0;
  background: var(--iris, #4d5ae5);
  height: 100%;
  padding: 0 32px;
  padding-top: 40px;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}*/
.portfolio-cover-text {
  color: var(--cloud, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: absolute;
  top: 0;
  background: var(--iris, #4d5ae5);
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .portfolio-cover {
  transform: translateY(0);
}
.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
/*----------------------------modal-------------------------------*/
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);*/
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  fill: #e7e9fc;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-btn:hover .button-icon,
.modal-close-btn:focus .button-icon {
  fill: #ffffff;
}

.button-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-title {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  padding-right: 16px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--iris, #4d5ae5);
}
.modal-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}
.modal-form-label {
  display: block;
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.modal-field {
  margin-bottom: 8px;
}
.comment-field {
  margin-bottom: 16px;
}
.modal-form-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-wrap {
  position: relative;
}
.modal-comment {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  display: block;
}
.modal-comment:hover,
.modal-comment:focus {
  border-color: #4d5ae5;
}
/*----------------checkbox----------------*/
.modal-check-text {
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
  align-items: center;
}
.modal-check-link {
  color: #4d5ae5;
  line-height: 1.33;
  margin-left: 4px;
}
.modal-check-text span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  stroke-width: 4px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .modal-check-text span {
  background-color: #404bbf;
  border: none;
  stroke: #f4f4fd;
  fill: #f4f4fd;
}
.modal-field-check {
  margin-bottom: 24px;
}

/*----------------modal-btn---------------*/
.modal-form-btn {
  min-width: 169px;
  height: auto;
  color: var(--white, #fff);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 24px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: #404bbf;
}
/*---------------footer-subscribe----------------*/
.subscribe-btn {
  border: none;
  color: var(--white, #fff);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  border-radius: 4px;
  background: #4d5ae5;
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 40px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 165px;
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #404bbf;
}
.subscribe-icon {
  fill: #ffffff;
  display: block;
  margin-left: 16px;
}

.footer-input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffffff;
}
.footer-sm {
  margin-right: 80px;
}
.form-hidden {
  color: var(--white, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-form {
  display: flex;
  gap: 24px;
}
.footer-input::placeholder {
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  line-height: 2; /* 200% */
  letter-spacing: 0.04em;
}

@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 761px;
  }
  .advantages-item {
    width: calc((100% - 36px) / 2);
  }
  .advantages-list {
    display: flex;
    gap: 72px 24px;
  }
  .advantages-heading-three {
    text-align: left;
  }
  .team-list {
    flex-direction: row;
    gap: 64px 24px;
    padding-left: 93px;
    padding-right: 93px;
  }
  .team-item {
    width: calc((100% - 48px) / 2);
  }
  .client-item {
    max-width: 168px;
    height: 88px;
  }
  .client-list {
    padding-left: 85px;
    padding-right: 85px;
    gap: 72px 24px;
  }
  .main-section-heading-one {
    margin-bottom: 36px;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    width: 496px;
    padding: 0;
  }
}

@media screen and (min-width: 1166px) {
  .container {
    max-width: 1158px;
  }
  .advantages-item {
    width: calc((100% - 72px) / 4);
  }
  .advantages-heading-three {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
  .advantages-text {
    color: #434455;
    font-weight: 400;
  }
  .advantages-item-top {
    display: flex;
  }
  .advantages {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .projects {
    display: block;
  }
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-list {
    flex-direction: row;
    gap: 24px;
    padding-left: 0;
    padding-right: 0;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }
  .client-list {
    flex-wrap: nowrap;
    gap: 24px;
    padding-left: 0;
    padding-right: 0;
  }
  .main-section {
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .main-section-heading-one {
    margin-bottom: 48px;
  }
}
